<section class="section-advantages">
    <div class="container">
    <h2 class="advantage__title visually-hidden">Advantages</h2>
    <ul class="advantage__list list">
        <li class="advantage__item">
            <div class="advantage__item-group">
                <h3 class="advantage__name list">Adapted author's UPE program</h3>
            </div>
        </li>
        <li class="advantage__item list">
            <div class="advantage__item-group">
            <h3 class="advantage__name">Modern teaching methods</h3>
            </div>
        </li>
        <li class="advantage__item list">
            <div class="advantage__item-group">
            <h3 class="advantage__name">Financial guarantee the result</h3>
            </div>
        </li>
    </ul>
    </div>
</section>