<section class="section-contacts" id="contacts">
    <div class="container">
            <h2 class="contacts__title">Registration for a <span class="contacts__title--add-decor"> free</span> phone<span class="contacts__title--add-decor"> consultation </span> on the nuances of English UPE</h2>
            <p class="contacts__text">Leave a request for participation in a <span class="contacts__title--add-decor">free lesson</span>. <br>A consultant will contact you and answer your questions</p>
            <form class="contacts__form">
                <label for="user-name" class="contacts__label">
                        <input type="text" class="contacts__label--input add-validation" name="user name" id="user-name" placeholder="Name*"
                            required minlength="2">
                </label>
                <label for="user-phone" class="contacts__label">
                        <input type="tel" class="contacts__label--input" name="user phone" id="user-phone" placeholder="Phone*"
                        required pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?" value="">
                </label>
                <button type="submit" class="contacts-button">i want a free lesson</button>
            </form>
    </div>
</section>
