<footer class="section-footer">
  <div class="container container__section-footer">
    <div class="logo">
      <a href="index.html" class="logo__link">
        <p class="logo__text">Hell<span class="logo__text--icon">EN</span></p>
      </a>
      <p class="logo__title">
        <span class="logo__title--accent">Hellish </span>english
      </p>
    </div>
    <address>
      <ul class="address">
        <li class="address__item">
          <a class="address__link" href="tel:+380000000000">
            <svg class="address__icon">
              <use href="./images/icons.svg#icon-phone"></use></svg
            >+38 (000) 000 00 00</a
          >
        </li>
        <li class="address__item">
          <a
            class="address__link"
            href="https://www.instagram.com"
            target="_blank"
            ><img
              class="address__img"
              src="./images/instagram.svg"
              alt="Instagram"
          /></a>
        </li>
      </ul>
    </address>
  </div>
</footer>
<div class="copyright">&#169; All rights reserved, 2022</div>
