<Section class="program" id="programs">
    <div class="container">
        
        <!-- !============ Заголовок и список (program__list) ============ -->
        <h2 class="program__title">Our program</h2>
        
        <ol class="program__list">

            <li class="program__first-item">

                <p class="program__first-title one"><span class="program__first-title--size">1</span> semester</p>
                
                <!-- !+++++++++ Доп. контейнер-1 для tablet (program__first-cont) ++++++++++++++ -->
                <div class="program__first-cont">
                
                    <ul class="program__second-list">
                        <li class="program__second-item"><p class="program__second-title">Grammar</p></li>
                        <li class="program__second-item">Nouns & Articles</li>
                        <li class="program__second-item">Adjectives & Adverb</li>
                    </ul>
                    
                    <ul class="program__second-list">
                        <li class="program__second-item"><p class="program__second-title">Vocabulary</p></li>
                        <li class="program__second-item">Family & Relations</li>
                        <li class="program__second-item">People & Society</li>
                    </ul>

                </div>
                <!-- !+++++++++++++++++ К О Н Е Ц Доп. контейнер-1 для tablet ++++++++++++++++++ -->

            </li>
            

            <li class="program__first-item">

                <p class="program__first-title two"><span class="program__first-title--size">2</span> semester</p>
                
                <!-- !+++++++++ Доп. контейнер-1 для tablet (program__first-cont) ++++++++++++++ -->
                <div class="program__first-cont">

                    <ul class="program__second-list">
                        <li class="program__second-item"><p class="program__second-title">Grammar</p></li>
                        <li class="program__second-item">Pronouns</li>
                        <li class="program__second-item">Active Voice</li>
                        <li class="program__second-item">Passive Voice</li>
                    </ul>
                
                    <ul class="program__second-list">
                        <li class="program__second-item"><p class="program__second-title">Vocabulary</p></li>
                        <li class="program__second-item">Home</li>
                        <li class="program__second-item">Schoul</li>
                        <li class="program__second-item">Work</li>
                    </ul>

                </div>
                <!-- !+++++++++++++++++ К О Н Е Ц Доп. контейнер-1 для tablet ++++++++++++++++++ -->

            </li>
            

            <li class="program__first-item">

                <p class="program__first-title three"><span class="program__first-title--size">3</span> semester</p>
                
                <!-- !+++++++++ Доп. контейнер-1 для tablet (program__first-cont) ++++++++++++++ -->
                <div class="program__first-cont">

                    <ul class="program__second-list">
                        <li class="program__second-item"><p class="program__second-title">Grammar</p></li>
                        <li class="program__second-item">Modal verbs</li>
                        <li class="program__second-item">Infinitive</li>
                        <li class="program__second-item">Gerund</li>
                        <li class="program__second-item">Participle: 1, 2</li>
                    </ul>
                
                    <ul class="program__second-list">
                        <li class="program__second-item"><p class="program__second-title">Vocabulary</p></li>
                        <li class="program__second-item">Travel & Tourism</li>
                        <li class="program__second-item">Culture & Free Time</li>
                        <li class="program__second-item">Sport</li>
                    </ul>

                    <ul class="program__second-list">
                        <li class="program__second-item"><p class="program__second-title">Writing</p></li>
                        <li class="program__second-item">Informal Letter</li>
                    </ul>

                </div>
                <!-- !+++++++++++++++++ К О Н Е Ц Доп. контейнер-1 для tablet ++++++++++++++++++ -->
            
            </li>
            

            <li class="program__first-item">
                
                <p class="program__first-title four"><span class="program__first-title--size">4</span> semester</p>
                
                <!-- !+++++++++ Доп. контейнер-1 для tablet (program__first-cont) ++++++++++++++ -->
                <div class="program__first-cont">

                    <ul class="program__second-list">
                        <li class="program__second-item"><p class="program__second-title">Grammar</p></li>
                        <li class="program__second-item">Clauses: Conditional and Wishes</li>
                        <li class="program__second-item">Direct / Reported speech</li>
                        <li class="program__second-item">Preposition</li>
                        <li class="program__second-item">Conjunction</li>
                        <li class="program__second-item">Numeral</li>
                    </ul>
                
                    <ul class="program__second-list">
                        <li class="program__second-item"><p class="program__second-title">Vocabulary</p></li>
                        <li class="program__second-item">Healthy Living</li>
                        <li class="program__second-item">Nature & Environment</li>
                        <li class="program__second-item">Money</li>
                    </ul>
                
                    <ul class="program__second-list">
                        <li class="program__second-item"><p class="program__second-title">Writing</p></li>
                        <li class="program__second-item">Formal Letter</li>
                    </ul>

                </div>
                <!-- !+++++++++++++++++ К О Н Е Ц Доп. контейнер-1 для tablet ++++++++++++++++++ -->
            
            </li>
            

            <li class="program__first-item">

                <p class="program__first-title five"><span class="program__first-title--size">5</span> semester</p>
            
                <ul class="program__second-list">
                    <li class="program__second-item"><p class="program__second-title hiden"></p></li>
                    <li class="program__second-item">Revision</li>
                    <li class="program__second-item">Tests</li>
                </ul>
            
            </li>
            
        </ol>

    </div>
</Section>