<section class="section-reviews" lang="en">
  <div class=" container">
    <h2 class="reviews__title">Feedback from graduates</h2>

    <div class="swiper mySwiper wrapper">
      <div class="swiper-wrapper">

        <div class="swiper-slide ">
          <div class="reviews__wrapper ">
            <div class="reviews__box">
              <picture class="reviews__picture">
                <source srcset="
                          ./images/slider-girl-1-mob.jpg    208w,
                          ./images/slider-girl-1-mob-2x.jpg 416w
                        " media="(max-width: 767px)" sizes="(max-width: 480px) 65vw, (max-width: 767px) 312px" />
                <source srcset="
                          ./images/slider-girl-1-tablet.jpg     376w,
                          ./images/slider-girl-1-tablet-2x.jpg  752w
                        " media="(max-width: 1680px)" sizes="(min-width: 768px) 376px, 100vw" />
                <img src="./images/slider-girl-1-mob.jpg" alt="girl" width="90" class="reviews__img">
              </picture>

              <input type="checkbox" class="read-more-checker" id="read-more-checker">
              <div class="limiter">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__paragraph">
                  <span class="reviews__span reviews__span--color">
                    Graduated from 2015, National University of Bioresources
                    and natural history of Ukraine
                  </span>
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
                  because
                  she
                  was really worried about my success. She became an authority for me, but I did not tremble in class,
                  fearing to make the slightest
                  mistake. Now I can brag that I'm student
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends because she was really worried
                  about my success. She became an authority for me, but I did not tremble in class, fearing to make
                  the
                  slightest mistake.
                  Now I can brag that I'm student
                </p>
                <div class="buttom"></div>
              </div>
              <label for="read-more-checker" class="read-more-button"></label>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__wrapper">
            <div class="reviews__box">
              <picture class="reviews__picture">
                <source srcset="
                      ./images/slider-girl-2-mob.jpg    208w,
                      ./images/slider-girl-2-mob-2x.jpg 416w
                    " media="(max-width: 767px)" sizes="(max-width: 480px) 65vw, (max-width: 767px) 312px" />
                <source srcset="
                      ./images/slider-girl-2-tablet.jpg     376w,
                      ./images/slider-girl-2-tablet-2x.jpg  752w
                    " media="(max-width: 1680px)" sizes="(min-width: 768px) 376px, 100vw" />
                <img src="./images/slider-girl-2-mob.jpg" alt="girl" width="90" class="reviews__img">
              </picture>

              <input type="checkbox" class="read-more-checker" id="read-more-checker-2">
              <div class="limiter">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__paragraph">
                  <span class="reviews__span reviews__span--color">
                    Graduated from 2015, National University of Bioresources
                    and natural history of Ukraine
                  </span>
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
                  because
                  she
                  was really worried about my success. She became an authority for me, but I did not tremble in class,
                  fearing to make the slightest
                  mistake. Now I can brag that I'm student
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends because she was really worried
                  about my success. She became an authority for me, but I did not tremble in class, fearing to make
                  the
                  slightest mistake.
                  Now I can brag that I'm student
                </p>
                <div class="buttom"></div>
              </div>
              <label for="read-more-checker-2" class="read-more-button"></label>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__wrapper">
            <div class="reviews__box">
              <picture class="reviews__picture">
                <source srcset="
                          ./images/slider-girl-3-mob.jpg    208w,
                          ./images/slider-girl-3-mob-2x.jpg 416w
                         " media="(max-width: 767px)" sizes="(max-width: 480px) 65vw, (max-width: 767px) 312px" />
                <source srcset="
                          ./images/slider-girl-3-tablet.jpg     376w,
                          ./images/slider-girl-3-tablet-2x.jpg  752w
                         " media="(max-width: 1680px)" sizes="(min-width: 768px) 376px, 100vw" />
                <img src="./images/slider-girl-3-mob.jpg" alt="girl" width="90" class="reviews__img">
              </picture>

              <input type="checkbox" class="read-more-checker" id="read-more-checker-3">
              <div class="limiter">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__paragraph">
                  <span class="reviews__span reviews__span--color">
                    Graduated from 2015, National University of Bioresources
                    and natural history of Ukraine
                  </span>
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
                  because
                  she
                  was really worried about my success. She became an authority for me, but I did not tremble in class,
                  fearing to make the slightest
                  mistake. Now I can brag that I'm student
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends because she was really worried
                  about my success. She became an authority for me, but I did not tremble in class, fearing to make
                  the
                  slightest mistake.
                  Now I can brag that I'm student
                </p>
                <div class="buttom"></div>
              </div>
              <label for="read-more-checker-3" class="read-more-button"></label>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__wrapper">
            <div class="reviews__box">
              <picture class="reviews__picture">
                <source srcset="
                        ./images/slider-girl-4-mob.jpg    208w,
                        ./images/slider-girl-4-mob-2x.jpg 416w
                      " media="(max-width: 767px)" sizes="(max-width: 480px) 65vw, (max-width: 767px) 312px" />
                <source srcset="
                         ./images/slider-girl-4-tablet.jpg     376w,
                        ./images/slider-girl-4-tablet-2x.jpg  752w
                      " media="(max-width: 1680px)" sizes="(min-width: 768px) 376px, 100vw" />
                <img src="./images/slider-girl-4-mob.jpg" alt="girl" width="90" class="reviews__img">
              </picture>

              <input type="checkbox" class="read-more-checker" id="read-more-checker-4">
              <div class="limiter">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__paragraph">
                  <span class="reviews__span reviews__span--color">
                    Graduated from 2015, National University of Bioresources
                    and natural history of Ukraine
                  </span>
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
                  because
                  she
                  was really worried about my success. She became an authority for me, but I did not tremble in class,
                  fearing to make the slightest
                  mistake. Now I can brag that I'm student
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends because she was really worried
                  about my success. She became an authority for me, but I did not tremble in class, fearing to make
                  the
                  slightest mistake.
                  Now I can brag that I'm student
                </p>
                <div class="buttom"></div>
              </div>
              <label for="read-more-checker-4" class="read-more-button"></label>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__wrapper">
            <div class="reviews__box">
              <picture class="reviews__picture">
                <source srcset="
                          ./images/slider-girl-5-mob.jpg    208w,
                          ./images/slider-girl-5-mob-2x.jpg 416w
                        " media="(max-width: 767px)" sizes="(max-width: 480px) 65vw, (max-width: 767px) 312px" />
                <source srcset="
                          ./images/slider-girl-5-tablet.jpg     376w,
                          ./images/slider-girl-5-tablet-2x.jpg  752w
                        " media="(max-width: 1680px)" sizes="(min-width: 768px) 376px, 100vw" />
                <img src="./images/slider-girl-5-mob.jpg" alt="girl" width="90" class="reviews__img">
              </picture>

              <input type="checkbox" class="read-more-checker" id="read-more-checker-5">
              <div class="limiter">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__paragraph">
                  <span class="reviews__span reviews__span--color">
                    Graduated from 2015, National University of Bioresources
                    and natural history of Ukraine
                  </span>
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
                  because
                  she
                  was really worried about my success. She became an authority for me, but I did not tremble in class,
                  fearing to make the slightest
                  mistake. Now I can brag that I'm student
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends because she was really worried
                  about my success. She became an authority for me, but I did not tremble in class, fearing to make
                  the
                  slightest mistake.
                  Now I can brag that I'm student
                </p>
                <div class="buttom"></div>
              </div>
              <label for="read-more-checker-5" class="read-more-button"></label>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__wrapper">
            <div class="reviews__box">
              <picture class="reviews__picture">
                <source srcset="
                          ./images/slider-girl-6-mob.jpg    208w,
                          ./images/slider-girl-6-mob-2x.jpg 416w
                        " media="(max-width: 767px)" sizes="(max-width: 480px) 65vw, (max-width: 767px) 312px" />
                <source srcset="
                          ./images/slider-girl-6-tablet.jpg     376w,
                          ./images/slider-girl-6-tablet-2x.jpg  752w
                        " media="(max-width: 1680px)" sizes="(min-width: 768px) 376px, 100vw" />
                <img src="./images/slider-girl-6-mob.jpg" alt="girl" width="90" class="reviews__img">
              </picture>

              <input type="checkbox" class="read-more-checker" id="read-more-checker-6">
              <div class="limiter">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__paragraph">
                  <span class="reviews__span reviews__span--color">
                    Graduated from 2015, National University of Bioresources
                    and natural history of Ukraine
                  </span>
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
                  because
                  she
                  was really worried about my success. She became an authority for me, but I did not tremble in class,
                  fearing to make the slightest
                  mistake. Now I can brag that I'm student
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends because she was really worried
                  about my success. She became an authority for me, but I did not tremble in class, fearing to make
                  the
                  slightest mistake.
                  Now I can brag that I'm student
                </p>
                <div class="buttom"></div>
              </div>
              <label for="read-more-checker-6" class="read-more-button"></label>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews__wrapper">
            <div class="reviews__box">
              <picture class="reviews__picture">
                <source srcset="
                          ./images/slider-girl-7-mob.jpg    208w,
                          ./images/slider-girl-7-mob-2x.jpg 416w
                        " media="(max-width: 767px)" sizes="(max-width: 480px) 65vw, (max-width: 767px) 312px" />
                <source srcset="
                          ./images/slider-girl-7-tablet.jpg     376w,
                          ./images/slider-girl-7-tablet-2x.jpg  752w
                         " media="(max-width: 1680px)" sizes="(min-width: 768px) 376px, 100vw" />
                <img src="./images/slider-girl-7-mob.jpg" alt="girl" width="90" class="reviews__img">
              </picture>

              <input type="checkbox" class="read-more-checker" id="read-more-checker-7">
              <div class="limiter">
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__paragraph">
                  <span class="reviews__span reviews__span--color">
                    Graduated from 2015, National University of Bioresources
                    and natural history of Ukraine
                  </span>
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I realized that I was on my plate. Elena and I became friends
                  because
                  she
                  was really worried about my success. She became an authority for me, but I did not tremble in class,
                  fearing to make the slightest
                  mistake. Now I can brag that I'm student
                  In a short time with Elena, I mastered grammar and replenished my completely empty
                  vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends because she was really worried
                  about my success. She became an authority for me, but I did not tremble in class, fearing to make
                  the
                  slightest mistake.
                  Now I can brag that I'm student
                </p>
                <div class="buttom"></div>
              </div>
              <label for="read-more-checker-7" class="read-more-button"></label>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>


  </div>
</section>